body {
  background-color: #1a2336;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.logo {
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

iframe {
  margin: 20px;
}

form {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  color: black;
}

form h3 {
  color: #333;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #00a0e9;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
}
